
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right,#8A2387, #E94057,#F27121);
  background-attachment: fixed;
    max-width: 650px;
    margin: auto;
    margin-top: auto;
}

* {
  box-sizing: border-box;
  margin-bottom: 22px;
}

/* style the container */
#container {
  position: relative;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0 30px 0;
  text-align: center;
  height: 330px;
}


#taskContainer {
  position: relative;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0 30px 0;
  text-align: center;
 overflow: hidden;
} 

#accountContainer {
  position: relative;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0 30px 0;
  text-align: center;
 overflow: hidden;
} 

#accountContainer input{

  font-size: 20px;
  display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 5px;

}

/* style inputs and link buttons */
input,
.btn {
  
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.Bcol {
  
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 3px;
  border-radius: 45px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 5px;
  margin-bottom: -60px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.card.error{

   color: antiquewhite;
    background-color: red;
   margin-top: 74px;
   height: 134px;
   padding-top: 1px;
   padding-left: 5px;
   width: 250px;    
}



/* Modal CSS */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.modal input{
  
}


#modalBtn{
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 123px;
  cursor: pointer;
  border-radius: 4px;
}


#myBtn {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  width: 500px;
  border-radius: 10px;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: -19px -10px 0px 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-content {
  background-color: rgb(254, 254, 254, 0.9);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  overflow: hidden;
  border-radius: 7px;
  margin: 126px auto;
}




#task {
  width: 86%;
  margin: 7px 0px 0px 0px;
}

#username
{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 30px 0px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
#password
{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 14px 0px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.btn
{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.dateInput input {
  width: 42px;
  float: left;
  margin-right: 5px;

}

.timeInput input{
  width: 42px;
  float: left;
  margin-right: 5px;

}


#list{

  color: white;
}

#todocontainer{
color: wheat; 
float: right;

}

#deleteBtn{
    background-image: radial-gradient(#ED213A, #93291E);
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

#infoBtn{
  background-color: green;
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}


ul{

 float: right;
 margin-bottom: -40px;  
}


.vl{
  position: absolute;
    left: 50%;
    top: 375px;
    transform: translate(6%);
    border: 1px solid #ddd;
    height: 50px;
}

.timeInput{
  width: 100px;
  text-align: center;
  float: right;
  margin-top: -37px;
  
}

#pTittel{
  margin: auto 0px 5px;
}


#tags{

  margin-top: -15px;
}



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 3px 5px;
  font-size: 16px;
  border: none;

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 262px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



.header {
  list-style-type: none;
  margin: 0px 0px 0px -46px;
  padding: 0;
  overflow: hidden;
  background-image:linear-gradient(#2c5364,#203a43, #0F2027);
  height: 50px;
  width: 115%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  float: none;

}

.header li {
  float: right;
  
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

#accountBtn{

  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-image: linear-gradient(#2c5364,#203a43, #0F2027);
    font-family: Arial, Helvetica, sans-serif;
}