body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 1652px;
    background-image: url("star.jpg");
    background-position: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(254, 254, 254, 0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    
    width: 400px;
    height: 140px;
    border-radius: 7px;
    margin: 126px auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    cursor: pointer;
    width: 500px;
    
    
    border-radius: 10px;
}



#modalBtn{
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 123px;
    cursor: pointer;
    border-radius: 4px;
}

input{
    width: 50%;
    display: block;
    margin: 15px 123px 15px;
}

#content{

    background-color: rgba(0, 0, 0, 0.5);
    max-width: 508px;
    height: 500px;
    margin: auto;
    text-align: right;
    border-radius: 15px;
    margin-top: 115px;
    box-shadow: 1px 1px 7px black;
    border-style: inset;
    border-color: rgb(0, 0, 0, 0.2);

}

#endre:link {
    text-decoration: none;
}

#endre:visited {
    text-decoration: none;
    color: black;
}

#endre:hover {
    background-color: rgb(221, 200, 200);
}

#endre:active {
    text-decoration: underline;
}

.editBttn{
   
    border: none;
    
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    max-width: 30px;
    max-height: 40px;
    margin-left: 11px;
    background-image: url("./js/check.jpg");
    background-position: center;
    background-size: 45px 45px;
    opacity: 0.5;
  
    
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.editModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.editClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.editClose:hover,
.editClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.editModal-content{
    width: 500px;
    height: 300px;
    border-radius: 7px;
}

#editModalBtn{
    background-color: hsl(195, 100%, 36%); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input{
    width: 50%;
    display: block;
    margin: 15px 123px 15px;
}

.list{
    color: white;
    font-family: 'Roboto', sans-serif;
}


.square {
    
   
    opacity: 0.9;
    margin: -8px auto;
   text-align: center;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   box-shadow: 0px 1px 2px black;
  }

  .fa{
      margin-left: -7px;
  }

  .header {
    list-style-type: none;
    margin: -8px auto;
    padding: 0;
    overflow: hidden;
    background-image:linear-gradient(#2c5364,#203a43, #0F2027);
    height: 50px;
    width: 80%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.header li {
    float: right;
    
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

